
body{
    padding-top: 25px;
    background: f1fbff;
}
.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-dark .navbar-brand{
    color: yellow;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover{
    color: greenyellow;
}
.navbar-dark .navbar-nav .nav-link{
    /* color: brown; */
}
.navbar-dark .nav-link:hover{
    color: greenyellow;
}
.w-100{
    height: 5vh;
}

.services .card-body i{
    font-size: 50px;
}
.container
{
    /* border:2px solid red; */
}
.card{
    /* border:2px solid blue; */
    height: 450px;
    width:500px;
    padding-left: 10px;
}
.card .btn{
    height:50px;
    width:40px;
}
#log_in{
    width:100px;
    

}
#administrattive{
     /* border:2px solid blue;  */
    padding-top:80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:brown;
    padding-left: 500px;
}
#email{
    /* border:2px solid blue; */
    color:blue;
}
.admin{
    padding-left:400px;
}
.card h6{
    /* border:2px solid blue; */
    margin-top: 30px;
    height:150px;
    width:100px;
}
.card .products-card img{
    height: 600px;
    /* width: 100px; */
}

.Login-image{
    margin: 0 auto;
    background-image: url("./Images/book-book-pages-education-information-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: 100% 720px;
}


.team.card-body i{
    font-size: 20px;
}

.portfolio .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15); 
}

.team .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15); 
}
.product-card{
    max-width: 150px;
}
.product-card h6{
    /* height: 45px; */
}
.qty_form{
    display: flex;
}
.dec,.inc{
    border: 1px solid black;
    outline: none;
    margin: 0px;
    text-decoration: none;
    width: 20px;
    text-align: center;
    color: black;
    cursor: pointer;
}
.dec{
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.quantity{
    border: 1px solid black;
    outline: none;
    margin: 0px;
    width: 30px;
    text-align: center;
}
.inc{
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn{
    /* border:2px solid red; */
    margin-top: 1rem;
    display: inline-block;
    color: white;
    /* height:10px;
    width:200px; */
}
.container_order{
    /* border:2px solid blue; */
    margin-top:100px;   
}
/* *** responsive css *** */

@media only screen and(max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}
